---
http_interactions:
- request:
    method: post
    uri: https://api.northpass.com/v1/learners?api_key=
    body:
      encoding: UTF-8
      string: '{"data":{"type":"people","attributes":{"email":"driver@shipt.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2B1D5B5DB187B47D50B838CAA211DE108260E8A60F76366410F358784501
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:09 GMT
recorded_with: VCR 3.0.3
