---
http_interactions:
- request:
    method: post
    uri: https://api.northpass.com/v1/learners?api_key=IOm5HueZfihdVq3HPDNy0eWfI
    body:
      encoding: UTF-8
      string: '{"data":{"type":"people","attributes":{"email":"driver@shipt.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"409","title":"Record Not Unique","detail":"A
        record with the given email has already been taken","meta":{"original":{"uuid":"ac2ae6b6-ab15-41b0-883c-5f536a062689","type":"learners"}},"source":{"pointer":"/data/attributes/email"}}]}'
  recorded_at: Fri, 06 Apr 2018 15:30:57 GMT
recorded_with: VCR 3.0.3
