---
http_interactions:
- request:
    method: delete
    uri: https://api.northpass.com/v1/learners/ac2ae6b6-ab15-41b0-883c-5f536a062689?api_key=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2BA26B63BEE18D506C55974EB732D568E7084F8E473761D302FFB0895600
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:10 GMT
recorded_with: VCR 3.0.3
