---
http_interactions:
- request:
    method: get
    uri: https://api.northpass.com/v1/courses/11790b45-3b0c-4105-ab91-b4b3e35c53c7?api_key=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2B8CE737FFC25F7E8F4F38E13ED8E903618AA05DC279822A9F914932DE00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:09 GMT
recorded_with: VCR 3.0.3
