---
http_interactions:
- request:
    method: get
    uri: https://api.northpass.com/v1/courses?api_key=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2BCCF0DFACA4E6ECDA6990704458F361AB42A793CC33B5DDF0EF9DDE2B00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:49:16 GMT
- request:
    method: get
    uri: https://api.northpass.com/v1/courses?api_key=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2B9E0E4113A237B746AD6501966A4299F4A613277428B6AE0C1E2F771B00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:49:39 GMT
recorded_with: VCR 3.0.3
