---
http_interactions:
- request:
    method: get
    uri: https://api.northpass.com/v1/courses?api_key=IOm5HueZfihdVq3HPDNy0eWfI
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44b50f5f5902febdfec13ad86999871c"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.northpass.com/v1/courses"},"data":[{"type":"courses","id":"72673479-ad0c-4e81-bb2f-47174ff09396","attributes":{"name":"Getting
        Started with Pixel (Sample Course)","enrollments_count":0,"list_image_url":"https://d3p3alwwakpeoy.cloudfront.net/api/file/YKu1Zb0fSqmrpsNL7nbu/convert?cache=true\u0026fit=crop\u0026h=500\u0026w=820","course_enrollment_link":"https://shipt.schoolkeep.com/c/071e0fd038cb23f005d5ff3f9519a8266774eafe","share_course_link":"https://shipt.schoolkeep.com/outline/j16njpjy/cover","permalink":"j16njpjy","created_at":"2017-11-10T20:09:53Z","updated_at":"2017-11-10T20:09:53Z"},"relationships":{"categories":{"data":[]},"instructor_partnerships":{"data":[]}},"links":{"self":"https://api.northpass.com/v1/courses/j16njpjy","teaching":"https://app.northpass.com/courses/j16njpjy","build":{"href":"https://app.northpass.com/courses/j16njpjy/builder","methods":["get"]}}},{"type":"courses","id":"11790b45-3b0c-4105-ab91-b4b3e35c53c7","attributes":{"name":"Scheduling","enrollments_count":0,"list_image_url":"https://d3p3alwwakpeoy.cloudfront.net/api/file/pnD6vUv5QyeVxitrYyXa/convert?cache=true\u0026fit=crop\u0026h=500\u0026w=820","course_enrollment_link":"https://shipt.schoolkeep.com/c/b20d883e347735e35bbb96e7ff4e6d08d2c53646","share_course_link":"https://shipt.schoolkeep.com/outline/p4ibygxu/cover","permalink":"p4ibygxu","created_at":"2017-11-10T20:12:21Z","updated_at":"2018-02-20T19:25:00Z"},"relationships":{"categories":{"data":[]},"instructor_partnerships":{"data":[{"type":"instructor_partnerships","id":"c823b52a-bc16-4558-97ab-cb8ceab3a623"}]}},"links":{"self":"https://api.northpass.com/v1/courses/p4ibygxu","teaching":"https://app.northpass.com/courses/p4ibygxu","build":{"href":"https://app.northpass.com/courses/p4ibygxu/builder","methods":["get"]}}}],"included":[]}'
  recorded_at: Wed, 04 Apr 2018 19:42:16 GMT
recorded_with: VCR 3.0.3
