---
http_interactions:
- request:
    method: post
    uri: https://api.northpass.com/v1/learners?api_key=
    body:
      encoding: UTF-8
      string: '{"data":{"foo":"bar","attributes":{"small":"fries"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2BD5454D8E52F7DFB7D248A465CC40373B5068A42E73DD04B9FAF3E08A00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:10 GMT
recorded_with: VCR 3.0.3
