---
http_interactions:
- request:
    method: post
    uri: https://api.northpass.com/v1/learners?api_key=IOm5HueZfihdVq3HPDNy0eWfI
    body:
      encoding: UTF-8
      string: '{"data":{"foo":"bar","attributes":{"small":"fries"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"422","title":"Invalid Attribute","detail":"can''t
        be blank","source":{"pointer":"/data/attributes/email"}}]}'
  recorded_at: Fri, 06 Apr 2018 15:30:58 GMT
recorded_with: VCR 3.0.3
