---
http_interactions:
- request:
    method: get
    uri: https://api.northpass.com/v1/courses/samiam?api_key=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2B142E974EA10C511F9256F3E849351C87411E344F1C6F0D46E4185A4E00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:10 GMT
recorded_with: VCR 3.0.3
