---
http_interactions:
- request:
    method: get
    uri: https://api.northpass.com/v1/courses/samiam?api_key=IOm5HueZfihdVq3HPDNy0eWfI
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"The resource
        you requested does not exist","source":{}}]}'
  recorded_at: Fri, 06 Apr 2018 15:30:58 GMT
recorded_with: VCR 3.0.3
