---
http_interactions:
- request:
    method: put
    uri: https://api.northpass.com/v1/categories/ab9ca8a8-14a1-49cb-870c-8cb7e0cf1fd9?api_key=IOm5HueZfihdVq3HPDNy0eWfI
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"silly strings"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d432416cba2a38546a0437ddd658fa7"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"data":{"type":"categories","id":"ab9ca8a8-14a1-49cb-870c-8cb7e0cf1fd9","attributes":{"name":"silly
        strings","created_at":"2018-02-20T19:25:28Z","updated_at":"2018-04-06T15:26:41Z"},"links":{"self":"https://api.northpass.com/v1/categories/ab9ca8a8-14a1-49cb-870c-8cb7e0cf1fd9"}}}'
  recorded_at: Fri, 06 Apr 2018 15:30:58 GMT
recorded_with: VCR 3.0.3
