---
http_interactions:
- request:
    method: put
    uri: https://api.northpass.com/v1/categories/ab9ca8a8-14a1-49cb-870c-8cb7e0cf1fd9?api_key=
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"silly strings"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace:
      - 2BCFBA12502286C7A0B63E3A6F9147AF7E1C65219A2354A63F4A06B79A00
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Unauthorized","detail":"You don''t
        have the necessary credentials","source":{}}]}'
  recorded_at: Tue, 25 Jun 2019 20:41:09 GMT
recorded_with: VCR 3.0.3
